
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy_Movies</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <style>
        *{
    margin : 0;
    font-family: Arial;
    border: border-box;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 15px;
}

.box-img{
    height: 300px;
    background-size: cover;
   margin-top: 1rem;
   margin-bottom: 1rem;
}


.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}
a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}
    </style>
</head>
<body>



    <div class="shop-section">

        <div class="box1 box">
           <div class="box-content">
            <h2>IT LIVES INSIDE</h2>
            <div class="box-img" style="background-image: url(/static/Fear_Movies/img1.png);"></div>
            <a href="https://www.imdb.com/title/tt15683734/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_IT%2520LIVES%2520">See Now</a>
           </div>
        </div>

        <div class="box2 box">
            <div class="box-content">
                <h2>ZOMBIE LAND</h2>
                <div class="box-img" style="background-image: url(/static/Fear_Movies/img2.png);"></div>
                <a href="https://imdb.com/title/tt1156398/?ref_=nv_sr_srsg_0_tt_6_nm_2_q_ZOMB">See Now</a>
               </div>
        </div>
        <div class="box3 box">
            <div class="box-content">
                <h2>TUMBBAD  </h2>
                <div class="box-img" style="background-image: url(/static/Fear_Movies/img3.png);"></div>
                <a href="https://www.imdb.com/title/tt8239946/?ref_=fn_al_tt_1">See Now</a>
               </div>
        </div>
        <div class="box4 box">
            <div class="box-content">
                <h2>TAIL OF THE NINGTH TAILED</h2>
                <div class="box-img" style="background-image: url(/static/Fear_Movies/img4.png);"></div>
                <a href="https://www.imdb.com/title/tt0066924/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_TAIL%2520OF%2520THE%2520NINGHTIENT%2520Tiled">See Now</a>
               </div>
        </div>
        <div class="box1 box">
           <div class="box-content">
            <h2>THE OTHER SIDE OF THE DOOR</h2>
            <div class="box-img" style="background-image: url(/static/Fear_Movies/img5.png);"></div>
            <a href=" https://www.imdb.com/title/tt3702652/?ref_=fn_al_tt_1  ">See Now</a>
           </div>
        </div>

        <div class="box2 box">
            <div class="box-content">
                <h2>CHANDRAMUKHI 2</h2>
                <div class="box-img" style="background-image: url(/static/Fear_Movies/img6.png);"></div>
                <a href="https://www.imdb.com/title/tt12132908/?ref_=nv_sr_srsg_0_tt_7_nm_1_q_chandramukhi">See Now</a>
               </div>
        </div>
        <div class="box3 box">
            <div class="box-content">
                <h2>IRAIVAN</h2>
                <div class="box-img" style="background-image: url(/static/Fear_Movies/img7.png);"></div>
                <a href="https://www.imdb.com/title/tt26316907/?ref_=nv_sr_srsg_0_tt_7_nm_1_q_iravian">See Now</a>
               </div>
        </div>
        <div class="box4 box">
            <div class="box-content">
                <h2>Y</h2>
                <div class="box-img" style="background-image: url(/static/Fear_Movies/img8.png);"></div>
                <a href="https://www.imdb.com/title/tt11565160/?ref_=fn_al_tt_14">See Now</a>
               </div>
        </div>
        <div class="box4 box">
            <div class="box-content">
                <h2>BRIDGE</h2>
                <div class="box-img" style="background-image: url(/static/Fear_Movies/img9.png);"></div>
                <a href="https://www.imdb.com/title/tt1733785/?ref_=fn_al_tt_2">See Now</a>
               </div>
        </div>
        <div class="box5 box">
            <div class="box-content">
                <h2>BULBBUL</h2>
                <div class="box-img" style="background-image: url(/static/Fear_Movies/img10.png);"></div>
                <a href="https://www.imdb.com/title/tt12393526/?ref_=fn_al_tt_1">See Now</a>
               </div>
        </div>
        <div class="box6 box">
            <div class="box-content">
                <h2>GASLIGHT</h2>
                <div class="box-img" style="background-image: url(/static/Fear_Movies/img11.png);"></div>
                <a href="https://www.imdb.com/title/tt0036855/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_gaslight">See Now</a>
               </div>
        </div>
        <div class="box7 box">
            <div class="box-content">
                <h2>GHOUL</h2>
                <div class="box-img" style="background-image: url(/static/Fear_Movies/img12.png);"></div>
                <a href="https://www.imdb.com/find/?q=ghoul&ref_=nv_sr_sm">See Now</a>
               </div>
        </div>
        <div class="box8 box">
            <div class="box-content">
                <h2>IT LIVES INSIDE</h2>
                <div class="box-img" style="background-image: url(/static/Fear_Movies/img1.png);"></div>
                <a href="https://www.imdb.com/title/tt15683734/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_it%2520lives%2520">See Now</a>
               </div>
        </div>
        <div class="box9 box">
            <div class="box-content">
                <h2>    STONE</h2>
                <div class="box-img" style="background-image: url(/static/Fear_Movies/img2.png);"></div>
                <a href="https://www.imdb.com/title/tt1423995/?ref_=fn_al_tt_4">See Now</a>
               </div>
        </div>
        <div class="box10 box">
            <div class="box-content">
                <h2>TUMBBAD</h2>
                <div class="box-img" style="background-image: url(/static/Fear_Movies/img3.png);"></div>
                <a href="https://www.imdb.com/title/tt8239946/?ref_=fn_al_tt_1">See Now</a>
               </div>
        </div>

    </div>


</body>
</html>