
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sad_Movies</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <style>
        *{
    margin : 0;
    font-family: Arial;
    border: border-box;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 15px;
}

.box-img{
    height: 300px;
    background-size: cover;
   margin-top: 1rem;
   margin-bottom: 1rem;
}


.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}
a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}
    </style>
</head>
<body>



    <div class="shop-section">

        <div class="box1 box">
           <div class="box-content">
            <h2>Sanam Teri Kasam</h2>
            <div class="box-img" style="background-image: url(/static/Sad_Movies/bg16.png);"></div>
            <a href="https://www.imdb.com/title/tt8426854/?ref_=ttls_li_i">See Now</a>
           </div>
        </div>

        <div class="box2 box">
            <div class="box-content">
                <h2>Aashiquie</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Movies/bg17.png);"></div>
                <a href="https://www.imdb.com/title/tt2203308/?ref_=fn_al_tt_1">See Now</a>
               </div>
        </div>
        <div class="box3 box">
            <div class="box-content">
                <h2>Guzaarish</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Movies/bg18.png);"></div>
                <a href="https://www.imdb.com/title/tt1438298/?ref_=fn_al_tt_1">See Now</a>
               </div>
        </div>
        <div class="box4 box">
            <div class="box-content">
                <h2>Dhadak</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Movies/bg19.png);"></div>
                <a href="https://www.imdb.com/title/tt7638344/?ref_=fn_al_tt_1">See Now</a>
               </div>
        </div>
        <div class="box1 box">
           <div class="box-content">
            <h2>Adhuri Kahani</h2>
            <div class="box-img" style="background-image: url(/static/Sad_Movies/bg20.png);"></div>
            <a href="https://www.imdb.com/title/tt3483612/?ref_=fn_al_tt_1">See Now</a>
           </div>
        </div>

        <div class="box2 box">
            <div class="box-content">
                <h2>MASSAN</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Movies/bg21.png);"></div>
                <a href="https://www.imdb.com/title/tt4635372/?ref_=fn_al_tt_3">See Now</a>
               </div>
        </div>
        <div class="box3 box">
            <div class="box-content">
                <h2>Highway</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Movies/bg22.png);"></div>
                <a href="https://www.imdb.com/title/tt2980794/?ref_=fn_al_tt_3">See Now</a>
               </div>
        </div>
        <div class="box4 box">
            <div class="box-content">
                <h2>Sanam Teri Kasam</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Movies/bg16.png);"></div>
                <a href="https://www.imdb.com/title/tt5255710/?ref_=fn_al_tt_1">See Now</a>
               </div>
        </div>
        <div class="box4 box">
            <div class="box-content">
                <h2>Jalebi</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Movies/bg23.png);"></div>
                <a href="https://www.imdb.com/title/tt8426854/?ref_=fn_al_tt_1">See Now</a>
               </div>
        </div>
        <div class="box5 box">
            <div class="box-content">
                <h2>Ae Dil Hai Mushkil</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Movies/bg24.png);"></div>
                <a href="https://www.imdb.com/title/tt4559006/?ref_=nv_sr_srsg_3_tt_6_nm_0_q_ye%2520dil%2520hai%2520muskil">See Now</a>
               </div>
        </div>
        <div class="box6 box">
            <div class="box-content">
                <h2>Lootera</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Movies/bg25\,png.jpg);"></div>
                <a href="https://www.imdb.com/title/tt2224317/?ref_=fn_al_tt_1">See Now</a>
               </div>
        </div>
        <div class="box7 box">
            <div class="box-content">
                <h2>VILLAN</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Movies/bg26.png);"></div>
                <a href="https://www.imdb.com/title/tt0048744/?ref_=fn_al_tt_2">See Now</a>
               </div>
        </div>
        <div class="box8 box">
            <div class="box-content">
                <h2>Jab Tak Hai Jaan</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Movies/bg27.png);"></div>
                <a href="https://www.imdb.com/title/tt2176013/?ref_=fn_al_tt_1">See Now</a>
               </div>
        </div>
        <div class="box9 box">
            <div class="box-content">
                <h2>Devdas</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Movies/bg28.png);"></div>
                <a href="https://www.imdb.com/title/tt0238936/?ref_=fn_al_tt_1">See Now</a>
               </div>
        </div>
        <div class="box10 box">
            <div class="box-content">
                <h2>Fanaa</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Movies/bg29.png);"></div>
                <a href="https://www.imdb.com/title/tt7456310/?ref_=fn_al_tt_2">See Now</a>
               </div>
        </div>
        <div class="box9 box">
            <div class="box-content">
                <h2>Highway</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Movies/bg22.png);"></div>
                <a href="https://www.imdb.com/title/tt2980794/?ref_=fn_al_tt_5">See Now</a>
               </div>
        </div>
    </div>


</body>
</html>