
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sad_Songs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <style>
        *{
    margin : 0;
    font-family: Arial;
    border: border-box;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 15px;
}

.box-img{
    height: 300px;
    background-size: cover;
   margin-top: 1rem;
   margin-bottom: 1rem;
}


.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}
a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}
    </style>
</head>
<body>



    <div class="shop-section">

        <div class="box1 box">
           <div class="box-content">
            <h2>MANN BHARRYAA 2.0</h2>
            <div class="box-img" style="background-image: url(/static/Sad_Songs/img1.png);"></div>
            <a href="https://open.spotify.com/track/3jf5303mzzJ96O8xFTcEn4">See Now</a>
           </div>
        </div>

        <div class="box2 box">
            <div class="box-content">
                <h2>O BEDARDEYA</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Songs/img2.png);"></div>
                <a href="https://open.spotify.com/track/0czcoKJbJt08NqKrvSbbz7">See Now</a>
               </div>
        </div>
        <div class="box3 box">
            <div class="box-content">
                <h2>AGAR TUM SATH HO </h2>
                <div class="box-img" style="background-image: url(/static/Sad_Songs/img3.png);"></div>
                <a href="https://open.spotify.com/track/3hkC9EHFZNQPXrtl8WPHnX">See Now</a>
               </div>
        </div>
        <div class="box4 box">
            <div class="box-content">
                <h2>RUKHE NA RUKHE NAINA</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Songs/img4.png);"></div>
                <a href="https://open.spotify.com/track/2k7RoJQR0mi8WVWK0Och93">See Now</a>
               </div>
        </div>
        <div class="box1 box">
           <div class="box-content">
            <h2>HEER BHI ROYA</h2>
            <div class="box-img" style="background-image: url(/static/Sad_Songs/img5.png);"></div>
            <a href="https://open.spotify.com/track/62nq2n3teHwI7oDlpffV9H">See Now</a>
           </div>
        </div>

        <div class="box2 box">
            <div class="box-content">
                <h2>HAMARI ADHURI KAHANI</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Songs/img6.png);"></div>
                <a href="https://open.spotify.com/track/3eQL03MvTJQkLqXryJ8Fja">See Now</a>
               </div>
        </div>
        <div class="box3 box">
            <div class="box-content">
                <h2>ASAL MEIN</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Songs/img7.png);"></div>
                <a href="https://open.spotify.com/track/0rMeOAvbQZ2RTG4B6L1M4p">See Now</a>
               </div>
        </div>
        <div class="box4 box">
            <div class="box-content">
                <h2>LO MAAAN LIYA</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Songs/img8.png);"></div>
                <a href="https://open.spotify.com/track/2wJ9d1Gfj8OqcznPAroqvh">See Now</a>
               </div>
        </div>
        <div class="box4 box">
            <div class="box-content">
                <h2>TUJHE BHULA DIYA</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Songs/img9.png);"></div>
                <a href="https://open.spotify.com/track/4r8JqkhpTb5tzSKKHnVJIJ">See Now</a>
               </div>
        </div>
        <div class="box5 box">
            <div class="box-content">
                <h2>BHOOL JAA</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Songs/img10.png);"></div>
                <a href="https://open.spotify.com/track/1loeDOvAGVAdrQDGIJQzwV">See Now</a>
               </div>
        </div>
        <div class="box6 box">
            <div class="box-content">
                <h2>AAKHIR</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Songs/img11.png);"></div>
                <a href="https://open.spotify.com/track/6xcubsZWAawdCM6o9hQ1WL">See Now</a>
               </div>
        </div>
        <div class="box7 box">
            <div class="box-content">
                <h2>TUM SATH REHNAA</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Songs/img12.png);"></div>
                <a href="https://open.spotify.com/track/6rCbyNLuqHLxwFkkMDPs15">See Now</a>
               </div>
        </div>
        <div class="box8 box">
            <div class="box-content">
                <h2>MAIN DHOONDNE KO</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Songs/img13.png);"></div>
                <a href="https://open.spotify.com/track/75p6BrziB5urmwPCeXl3y7">See Now</a>
               </div>
        </div>
        <div class="box9 box">
            <div class="box-content">
                <h2>SIMROON TERA NAM</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Songs/img14.png);"></div>
                <a href="https://open.spotify.com/track/30Aof6iEIZDwYukcB98AOc">See Now</a>
               </div>
        </div>
        <div class="box10 box">
            <div class="box-content">
                <h2>ISHQA</h2>
                <div class="box-img" style="background-image: url(/static/Sad_Songs/img15.png);"></div>
                <a href="https://open.spotify.com/track/2VxhGqUhDd7Pw10vOEByTg">See Now</a>
               </div>
        </div>
    </div>


</body>
</html>